/*
  Variables
*/
// Class names
$grid-classname: "grid" !default;
$row-classname: "row" !default;
$column-classname: "col" !default;
$container-classname: "container" !default;

// Grid width and max-width.
$grid-width: 100% !default;
$grid-max-width: 2000px !default;

//spacing
$spacing: (5,10,20,40);

//media query breakpoints
$breakpoints: (
                (xl, 1400),
                (l, 1025),
                (m, 768),
                (s, 485)
);

/*
  Styling
*/
//grid container
.#{$grid-classname} {
  display: flex;
  flex-direction: column;
  width: $grid-width;
  max-width: $grid-max-width;
  margin: 0 auto;
  &.full-width {
    width: 100%;
    max-width: 100%;
  }
}

//row
.#{$row-classname} {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  &.#{$row-classname}--left {
    justify-content: flex-start;
  }
  &.#{$row-classname}--center {
    justify-content: center;
  }
  &.#{$row-classname}--right {
    justify-content: flex-end;
  }
  &.#{$row-classname}--spacing-vertical-none {
    > div {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  //column
  .#{$column-classname} {
    vertical-align: top;
    flex: 1;
  }
  .#{$column-classname}--spacing-vertical-none {
    padding-top: 0;
    padding-bottom: 0;
  }
}
//row spacing
//TODO optionally add top/left/right/bottom
@each $val in $spacing {
  .#{$row-classname}--spacing-#{$val} {
    width: calc(100% + #{$val}px);
    margin-left: -#{$val / 2}px;
    margin-right: -#{$val / 2}px;
    >div {
      box-sizing: border-box;
      padding: #{$val / 2}px;
    }
  }
}
//column stylings
@for $i from 1 through 12 {
  .#{$grid-classname} .#{$column-classname}-#{$i} {
    width: ($i * 100%) / 12;
  }
}
//col media queries
@each  $lbl, $val in $breakpoints {
  @for $i from 1 through 12 {
    @media screen and (max-width: #{$val}px) {
      .#{$grid-classname} .#{$column-classname}-#{$lbl}-#{$i} {
        width: ($i * 100%) / 12;
      }
    }
  }
}
